
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0a0a0a;
  --fg: #e5e5e5;
  --muted: #9ca3af;
}

html, body {
  background: var(--bg);
  color: var(--fg);
}

.prose {
  --tw-prose-body: #e5e5e5;
  --tw-prose-headings: #ffffff;
  --tw-prose-links: #ffffff;
  --tw-prose-bold: #ffffff;
  --tw-prose-counters: #9ca3af;
  --tw-prose-bullets: #9ca3af;
  --tw-prose-hr: #1f2937;
  --tw-prose-quotes: #f3f4f6;
  --tw-prose-quote-borders: #374151;
  --tw-prose-captions: #9ca3af;
  --tw-prose-code: #e5e7eb;
  --tw-prose-pre-bg: #0b1220;
  --tw-prose-th-borders: #374151;
  --tw-prose-td-borders: #1f2937;
}

a { text-decoration: none }
